<app-navbar></app-navbar>
<section class="top">
    <figure>
        <img class="img-main" src='images/main_amv.jpg' alt="main_amv">
        <div class="overlay-text">
             <h1>Examen</h1>
        </div>
    </figure>
</section>
<section id="bottom-main" class="bottom">
    <div class="card" style="width: 35rem;">
        <figure class="content-img">
            <img class="img-students" src="images/passamv_students.jpg" alt="students">
        </figure>
    </div>
    <div class="card" style="width: 35rem; margin-top: 0px;">
        <div class="card-body d-flex flex-column">
            <button type="button" class="btn btn-primary card-title" (click)="sendAreas(idAreaCommercialAdvisor)">Examen para asesor financiero</button>
            <button type="button" class="btn btn-primary card-title" (click)="sendAreas(idAreaDirective)">Examen para directivo</button>
            <p class="paragraph">Lo mejor es esforzarte al máximo, da lo mejor de ti.</p>
        </div>
    </div>
</section>