#bottom-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.card {
    border: 2;
    padding: 10px;
}

.question {
    padding: 10px;
}

.label-option {
    margin-left: 10px;
}

.btn-section {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: white;
}

.nav-pagination {
    display: flex;
    justify-content: center;
}

.tittle {
    display: flex;
    justify-content: center;
}