#bottom-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.card {
    border: 0;
}

.question {
    padding: 10px;
}

.label-option {
    margin-left: 10px;
}