<app-navbar style="position: fixed; width: 100%;
    z-index: 100; top: 0;"></app-navbar>
<section id="bottom-main" class="bottom">
    <div class="card" style="width: 60rem;">
        <strong>Notas importantes: </strong> 
        <strong>1. Al refrescar la página, retroceder a la pantalla anterior o navegar a otra pantalla implicará reestablecer el progeso del examen </strong> 
        <strong>2. Puedes finalizar el examen incluso si no respondiste ninguna pregunta </strong> 
        <strong>3. Al finalizar el examen se te mostrará en cada pregunta la opción correcta y las incorrectas </strong> 
        <br>
        <strong>Muchos éxitos :) </strong> 
        <br>
        <nav aria-label="..." class="nav-pagination">
            <ul class="pagination">
                <li class="page-item"><button (click)="getPrevious()" class="page-link">Previous</button></li>
                @defer (when dataLoaded()) {
                    @for (item of modules; track $index) {
                        <li id="current-page-item" class="page-item">
                            <button id="active-page-link" class="page-link" [ngClass]="{'active': $index === this.defaultPosition}" (click)="selectItems($index)">{{$index + 1}}</button>
                        </li>
                    }
                }
                <li class="page-item"><button class="page-link" (click)="getNext()">Next</button></li>
            </ul>
        </nav>

        @defer (when dataLoaded()) {
            @for (data of examsPart; track data?.type) {
                <h1 class="tittle">{{data?.type}}</h1>
                @for (item of data?.items; track $index) {
                    <strong class="question"> {{$index + 1}}. {{item?.question}} </strong>
                    @for (option of item?.options; track $index) {
                        <div>
                            <label class="label-option" for="option1"> 
                                <input type="radio" 
                                    [name]="item.id.toString()" 
                                    [value]="option.id"
                                    [checked]="option.isSelected"
                                    (change)="onItemChange(option.id, item.id)">
                                {{option?.text}} @if(this.activeButtonFinish === true && successAnswersId.includes(option.id)) {&#10004;} 
                                                 @else if(this.activeButtonFinish === true) {&#10008;}
                            </label><br>
                        </div>
                    } @empty {
                        <p>There are no items.</p>
                    }
                } @empty {
                    <p>There are no items.</p>
                }
            } @empty {
                <p>There are no items.</p>
            }
        } @placeholder {
            <p>Loading questions...</p>
        }
        
        <section class="btn-section">
            <button type="button" class="btn btn-primary card-title" (click)="getPrevious()">Anterior</button>
            @if (this.defaultPosition < modules.length-1) {
                <button type="button" class="btn btn-primary card-title" (click)="getNext()">Siguiente</button>
            } @else {
                @defer (when dataLoaded()) {
                    <button type="button" class="btn btn-primary card-title" (click)="sendHistorical()">Finalizar</button>
                } @placeholder {
                    <p>Loading option...</p>
                }
            }
        </section>
    </div>
</section>