<app-header></app-header>
<section class="top">
    <figure>
        <img class="img_login" src='images/main_amv.jpg' alt="main_amv">
        <div class="overlay-text">
             <h1>INGRESO</h1>
        </div>
    </figure>
</section>
<section id="bottom_login" class="bottom">
    <div class="card" style="width: 30rem;">
        <form class="form" [formGroup]="loginForm">
            <h5 class="card-title">Inciar sesión</h5>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                @if(loginForm.controls['email'].touched && loginForm.controls['email'].errors?.required) {
                    <div class="error-msg-field">Correo es requerido</div>
                } @else if (loginForm.controls['email'].errors?.email) {
                    <div class="error-msg-field">Formato de correo es requerido</div>
                }
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                @if(loginForm.controls['password'].touched && loginForm.controls['password'].errors?.required) {
                    <div class="error-msg-field">Contraseña es requerido</div>
                }
            </div>
            <button type="submit" [disabled]="this.loginForm.invalid" class="btn btn-primary btn-login" (click)="login()">Ingresar</button>
            <a type="button" class="btn btn-primary btn-register" href="/register">Registrarse aquí</a>
        </form>
    </div>
</section>