<app-navbar></app-navbar>
<section id="bottom-main" class="bottom">
    <div class="card" style="width: 80rem;">
        <section class="title">
            <h1>Bienvenido al histórico de tus exámenes realizados, acá encontrarás los examenes que realizaste como asesor financiero o como directivo</h1>
        </section>
        <table class="table table-bordered border border-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Calificación</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col"># preguntas respondidas correctamente</th>
                    <th scope="col"># preguntas no respondidas o respondidas incorrectamente</th>
                </tr>
            </thead>
            <tbody>
                @defer (when dataLoaded()) {
                    @for (data of historical; track $index) { 
                        <tr>
                            <th scope="row">{{$index}}</th>
                            <td>{{data.area === 1 ? "Asesor Financiero": "Directivo"}}</td>
                            <td>{{data.totalScore.toString().replace("T", " ").replace(".000+00:00", "")}}</td>
                            <td>{{data.startDate.toString().replace("T", " ").replace(".000+00:00", "")}}</td>
                            <td>{{data.endDate}}</td>
                            <td>{{data.status === "PENDING" ? "NO FINALIZADO": "FINALIZADO"}}</td>
                            <td>{{data.rightAnswersId.split(",").length}}</td>
                            <td>{{data.wrongAnswersId.split(",").length}}</td>
                        </tr>
                    } @empty {
                        <h1>No has realizado ningún examen.</h1>
                    }
                    
                } @placeholder {
                    <p>Loading historical...</p>
                }
            </tbody>
        </table>
    </div>
</section>