<app-header></app-header>
<section class="top">
    <figure>
        <img class="img_main" src='images/main_amv.jpg' alt="main_amv">
    </figure>
</section>
<section id="bottom_main" class="bottom">
    <div class="card" style="width: 30rem; border: 0;">
        <p style="font-size: 20px;">Bienvenido al simulador del examen de asesor y director de bolsa de valores colombiano. <br><br> Aquí encontrarás una manera didáctica de repasar y poner a prueba tus conocimientos. <br><br> Disfruta de la experiencia y te deseamos lo mejor  en tu resultado final.</p>
    </div>
    <div class="card" style="width: 30rem;">
        <figure>
            <img class="img-calculadora" src="images/calculadora.jpg" alt="calculadora">
        </figure>
    </div>
    <div class="card" style="width: 30rem;">
        <form class="form">
            <a type="submit" class="btn btn-primary btn-main" href="/login">INGRESA AQUÍ AL SIMULADOR</a>
            <figure>
                <img class="img-success" src="images/success.jpg" alt="calculadora">
            </figure>
        </form>
    </div>
</section>